// $lGreen: #00BFA6;
// $green: #00AB95;
// $lPink: #F50057;
// $pink: #DC135F;
$lRose: #F86D70;
$rose: #DE6164;
// $orange: #FF9D00;
// $lOrange:#F9A826;

// $orange : #1D3557;
$lPink :#E63946;
$pink:#E63946;
$lGreen :#1D3557;
$green :#1D3557;

$lOrange :#457B9D;
$orange :#457B9D;

// $pink: rgba(5, 102, 141, 0.836);