* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  padding: 4em;
  color: white;

  &_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .left {
      width: 50%;
    }

    h1 {
      margin-bottom: 1em;
      font-size: 3em;
      font-weight: 700;
    }

    p {
      margin-bottom: 1em;
      font-size: large;
    }

    .btn-header {
      //place-self: center;
      @include btn($orange, 20em);
      font-size: larger;
    }

    .btnG {
      @include btn($green, 20em);

    }


    .header_img {
      max-width: 50em;
    }
  }
}



@media (max-width: 1044px) {
  * {
    font-size: 10px;
  }
  .header {
    text-align: center;

    img {
      width: 45em;
    }
  }
}

@media (max-width: 768px) {
  .header {
    text-align: center;

    .left {
      min-width: 100%;

    }

    img {
      width: 33em;
    }
  }
}

@media (max-width: 360px) {
  * {
    font-size: 8px;
    margin: 0;
  }
  .header {
    text-align: center;

    .btn-header {
      //place-self: center;
      @include btn($orange, 15 xem);
      font-size: larger;
    }

    img {
      width: 25em;
    }
  }
}


.backGreen {
  background-color: $green;
  color: white;
}

.backOrange {
  background-color: $orange;
  color: white;

}

.backRed {
  background-color: $lPink;
  color: white;

}
.hide{
  display: none ;
}